header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.233);
  cursor: default;
}

header h1 {
  text-shadow: 1px 2px 1px #c8d9f8;
}

header h1::-moz-selection {
  background-color: #8a97e0;
}
header h1::selection {
  background-color: #8a97e0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px 20px;
}

.projects {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}

.projects h1 {
  font-size: 24px;
  cursor: default;
}

.projects h1 .underline-effect {
  background-image: linear-gradient(120deg, #c6d9f8 0%, #e6d1f7 100%);
  /*background-image: linear-gradient(120deg, #84b1fa 0%, #c78ff4 100%); */
  background-size: 100% .3em;
  background-repeat: no-repeat;
  background-position: 0 88%;
  transition: 300ms all;
}

.projects h1:hover .underline-effect {
  background-size: 100% 88%;
}

.projects .project-box {
  background-color: #fff;
  box-shadow: 3px 1px 4px #00000030;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  margin: 5px 0;
  transition: 300ms ease-in;
}

.projects .project-box:hover {
  margin-left: -15px;
}

.projects .project-box h2 {
  font-size: 20px;
}

.projects .project-box p {
}

.projects .project-box ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.projects .project-box ul li {
  font-size: 12px;
  background-color: rgb(39, 133, 221);
  padding: 2px 05px;
  color: #fff;
  border-right: 1px dotted #fff;
  transition: 200ms all;
  cursor: default;
  margin-top: 5px;
}

.projects .project-box ul li:nth-last-child(1) {
  border: none;
}

.projects .project-box ul li:hover {
  margin-top: 0px;
  background-color: rgb(25, 118, 204);
}