@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand&display=swap');
/* 
text
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Ubuntu&display=swap');
/* 
titles
font-family: 'Hammersmith One', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333;
  background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: rgb(168, 168, 168);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(39, 39, 39);
}

::-moz-selection {
  background-color: rgb(93, 93, 93);
  color: #fff;
}
::selection {
  background-color: rgb(93, 93, 93);
  color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px 20px;
}
