.nav {
  position: fixed;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  display: flex;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  margin: 50px 0;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(100, 100, 100);
  transition: 500ms all;
}

.nav ul li:hover {
  color: #000;
}